.container {
  padding: 3rem;
}

.table-toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.table-card {
  padding: 20px;
  width: 70rem ;
  margin: 0 auto;
}

table {
  width: 100%;
}

mat-form-field {
  width: 300px;
}

th, td {
  text-align: center;
}

.pagination-container {
  display: flex;
  justify-content: end;
  margin-right: 21rem;
  align-items: center;
  margin-top: 20px;
}
